h1,
h2,
h3,
h4,
p,
a {
    text-align: justify;
    font-family: arial, "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體";
}

.container {
    margin: 14px auto;
}
.nav ul{
    margin: 10px 40px 0 40px;}
.nav li {
    display: inline;

}

.nav a {
    color: #c42385;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 10px;
    text-decoration: none;
}

.navbar-inver {height: 45px;
  background-image: -webkit-linear-gradient(top, pink 0%, white 100%);
  background-image:      -o-linear-gradient(top, pink 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(white));
  background-image:         linear-gradient(to bottom, pink 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 0px;
}
.jumbotron {
    margin-top: 40px;
    background-image: url(../images/santa-3.jpg);
    max-width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 30px;
    left: 100px;
}

.jumbotron h1 {
    color: #c42385;
    font-size: 48px;
}

.jumbotron i {
    color: black;
    font-size: 18px;
}

.jumbotron p {
    max-width: 84%;
    padding-right: 20px;
    color: #c42385;
    font-size: 15px;
    line-height: 1.6em;
    margin-top: -5px auto 0 auto;
}

.intro .row {
    margin-top: 30px;
}

.thumbnail {
    height: 460px;
}

.intro h4 {
    color: #F9BB27
}

.under a {
    color: #c42385;
    font-size: 17px;
    font-weight: bold;
    font-weight: bold;
    padding-top: -14px;
    text-decoration: none;
}

.under a:hover {
    color: red;
}

.row .small {
    float: left;
    margin-right: 10px;
}
