h1,
h2,
h3,
h4,
p {
    text-align: justify;
    font-family: arial;
}

.container {
    margin: 14px auto;
}

.nav li {
    display: inline;
}

.nav a {
    color: red;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-decoration: none;
}

.jumbotron {
    background-image: url(../images/santa-3.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 30px;
    left: 100px;
}

.jumbotron h1 {
    color: #c42385;
    font-size: 48px;
}

.jumbotron p {
    width: 820px;
    color: #c42385;
    font-size: 15px;
    line-height: 1.4em;
    margin-top: -10px;
}
